.body{
    background-image: url("https://i.pinimg.com/564x/ec/ea/07/ecea079f2945a43a62ea71f993b1b751.jpg")   
}
.domain_generator {
    width: 20rem;
    margin: auto;
    text-align: center;
    background: black;
    color: white;
}